@charset "UTF-8";

/*
    --- Paleta Cores ---
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #5f2c82;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 280px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #000000c5;

    background-color: #ffffff;
}

#imagem {
    height: 210px;
    width: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../imagens/metal.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

#formulario {
    padding: 10px;
}

h1 {
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
}

#textoBoasVindas {
    font-size: 0.9rem;
    margin: 5px;
    text-align: justify;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    margin: 5px;
    border-radius: 10px;

    color: #ffffff;
    background-color: #5f2c82;
}

.material-symbols-outlined {
    margin: 5px;
    font-size: 1.9rem;
}

#inputEmail, #inputSenha {
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;

    border: 1px solid #d6bde6;
    background-color: #49a09d;
}

#inputEmail:hover, #inputSenha:hover {
    border: 1px solid #ffffff;
}

.submits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    margin: 5px;
}

#botaoEnviar, #resetSenha {
    height: 40px;
    margin: 5px;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 1px solid #49a09d;
}

#botaoEnviar {
    width: 110px;

    color: #ffffff;
    background-color: #49a09d;
}

#resetSenha {
    color: #49a09d;
    background-color: #ffffff;
}

#botaoEnviar:hover, #resetSenha:hover {
    color: #ffffff;
    background-color: #59c4c0;
    border: 2px solid #5f2c82;
}